nav
  a.navLogo(href='/')
    img(src='/pmamco_simple_free_nobg.png', style='height: 2em; width: 2em; position: relative;')
    .navItem(style='font-weight: 700; display: block; font-size: 20pt;') Pure Math Club
  a.navItem(href='/') Home
  a.navItem(href='/about') About
  a.navItem(href='/events') Events
  a.navItem(href='/potw') POTW
  a.navItem(href='/const') Constitution
