doctype html
head
  meta(charset='UTF-8')
  title Pure Math Club
  link(rel='apple-touch-icon', sizes='180x180', href='apple-touch-icon.png')
  link(rel='icon', type='image/png', sizes='32x32', href='favicon-32x32.png')
  link(rel='icon', type='image/png', sizes='16x16', href='favicon-16x16.png')
  link(rel='manifest', href='site.webmanifest')
  link(rel='mask-icon', href='safari-pinned-tab.svg', color='#5bbad5')
  meta(name='msapplication-TileColor', content='#da532c')
  meta(name='theme-color', content='#ffffff')
  link(rel='stylesheet', href='style.css')
  link(rel='preconnect', href='https://fonts.gstatic.com')
  link(href='https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Roboto+Condensed:wght@300;400;700&family=Roboto:wght@400;500;600;700&family=Inter:wght@400;500;600;700&display=swap', rel='stylesheet')
body
  include header.pug
  .header
    .headerLogo
      img(src='pmamco_simple_free_nobg.png', style='height: 15em; padding: 15px;')
      div
        h1(style='padding: 15px 15px 15px 15px; position: relative;')
          | The 
          strong {Pure Math,
          br
          strong Applied Math,
          br
          strong C&amp;O} 
          | Club
        .socials
          a(href='https://discord.gg/6m9Jw9UCVF', style='background-image: url(img/discord.png);', target='_blank')
          a(href='https://instagram.com/uwpmclub', style='background-image: url(img/instagram.png);', target='_blank')
          a(href='https://facebook.com/groups/uwpmc', style='background-image: url(img/facebook.png);', target='_blank')
          a(href='https://youtube.com/user/pmamcoclub', style='background-image: url(img/youtube.png);', target='_blank')
  .textArea
    h1 Events
    .eventContainer
      a.eventItemHoverBuffer(href='events/w22#20210719')
        .eventItem#pmath
          div(style='padding: 0px 20px 0 20px;')
            h2 Homomorphism-Homogeneous Graphs
            p
              i Pure Math Talk by Professor Nickolas Rollick!
          .dateBox
            p July 19, 2021
              br
              | 5:00 PM&ndash;6:00 PM
              br
              span(style='color: #ffffff;') MC 2066
      a.eventItemHoverBuffer(href='events/w22#20220303')
        .eventItem#sasms
          div(style='padding: 0px 20px 0 20px;')
            h2 Short Attention Span Math Seminars I
            p
              i Four students talking about math, so cool!
          .dateBox
            p February 28, 2022
              br
              | 7:00 PM&ndash;9:30 PM
              br
              span(style='color: #ffffff;') MC 2066
      a.eventItemHoverBuffer(href='events/w22#20210401')
        .eventItem#co
          div(style='padding: 0px 20px 0 20px;')
            h2 Crypto Gossip: Elliptic Curve Cryptography and the NSA
            p
              i C&amp;O Talk by Professor Alfred Menezes!
          .dateBox
            p April 1, 2021
              br
              | 4:30 PM&ndash;5:30 PM
              br
              span(style='color: #ffffff;') MC 2066
    a.button#pastEvents(href='./events') Browse past events
  div(style='width: 100%; background-color: #e0e0e0;')
    .textArea(style='padding: 1em 0 1em 0;')
      div(style='width: 100%; display: flex; justify-content: start-flex; align-items: center; flex-wrap: nowrap;')
        div
          h1 Join our mailing list!
          p(style='font-family: "Roboto";') Get notified about events and opportunities first :)
        a.button#subscribe(href='http://eepurl.com/hJPG7b', style='margin-left: 4em;', target='_blank') Subscribe
  include footer.pug
