doctype html
head
  meta(charset='UTF-8')
  title Pure Math Club
  link(rel='apple-touch-icon', sizes='180x180', href='apple-touch-icon.png')
  link(rel='icon', type='image/png', sizes='32x32', href='favicon-32x32.png')
  link(rel='icon', type='image/png', sizes='16x16', href='favicon-16x16.png')
  link(rel='manifest', href='site.webmanifest')
  link(rel='mask-icon', href='safari-pinned-tab.svg', color='#5bbad5')
  meta(name='msapplication-TileColor', content='#da532c')
  meta(name='theme-color', content='#ffffff')
  link(rel='stylesheet', href='style.css')
  link(rel='stylesheet', href='dist/css/splide.min.css')
  link(rel='preconnect', href='https://fonts.gstatic.com')
  link(href='https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Roboto+Condensed:wght@300;400;700&family=Roboto:wght@400;500;600;700&display=swap', rel='stylesheet')
body
  nav
    a.navLogo(href='.')
      img(src='pmamco_simple_free_nobg.png', style='height: 40px; width: 40px; position: relative; object-fit:')
      .navItem(style='font-weight: 700; display: block;') Pure Math Club
    a.navItem(href='.') Home
    a.navItem(href='about') About
    a.navItem(href='potw') POTW
    a.navItem(href='const') Constitution
  .header
    .headerLogo
      img(src='pmamco_simple_free_nobg.png', style='width: 30%; padding: 15px;')
      div
        h1(style='padding: 15px 15px 15px 15px; position: relative;')
          | The 
          strong {Pure Math,
          br
          strong Applied Math,
          br
          strong C&amp;O} 
          | Club
        .socials
          a(href='https://discord.gg/', style='background-image: url(img/discord.png);', target='_blank')
          a(href='https://instagram.com/', style='background-image: url(img/instagram.png);', target='_blank')
          a(href='https://youtube.com/', style='background-image: url(img/youtube.png);', target='_blank')
  .textArea
    h1 Events
    .eventContainer
      .eventItem#pmath
        div(style='padding: 0px 20px 0 20px;')
          h2 Homomorphism-
            br
            | Homogeneous Graphs
          p
            i Pure Math Talk by Professor Nickolas Rollick!
        .dateBox
          p July 19 2021
            br
            | 5:00 PM
            br
            span(style='color: #ffffff;') MC 2066
      .eventItem#sasms
        div(style='padding: 0px 20px 0 20px;')
          h2 Homomorphism-
            br
            | Homogeneous Graphs
          p
            i Pure Math Talk by Professor Nickolas Rollick!
        .dateBox
          p July 19 2021
            br
            | 5:00 PM
            br
            span(style='color: #ffffff;') MC 2066
      .eventItem#co
        div(style='padding: 0px 20px 0 20px;')
          h2 Homomorphism-
            br
            | Homogeneous Graphs
          p
            i Pure Math Talk by Professor Nickolas Rollick!
        .dateBox
          p July 19 2021
            br
            | 5:00 PM
            br
            span(style='color: #ffffff;') MC 2066
    h1 Join our mailing list!
    p Get notified about events and opportunities first :)
