doctype html
include ../template/head.pug
head
  link(rel='stylesheet', href='/static/hist-style.css', type='text/css')
  link(rel='stylesheet', href='/static/fonts/style.css', type='text/css')
  link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/@splidejs/splide@4.0.7/dist/css/splide.min.css', type='text/css')
  script(src='https://cdn.jsdelivr.net/npm/@splidejs/splide@4.0.7/dist/js/splide.min.js')
  script.
    document.addEventListener('DOMContentLoaded', function() {
      var elms = document.getElementsByClassName('splide');
      for (let i = 0; i < elms.length; ++i) {
        new Splide(elms[i], {type: 'loop'}).mount();
      }
    });
body
  .bg 
    include ../template/header.pug
    .textArea.f85
      .article.fullscreen
        include:markdown-it(html) amc_founding_f85_v39i3.md
        //- include:markdown-it(html) pmc_article_w97_v73i1.md
  div(style='background-color: #ffffff99; margin-top: 4rem; padding-bottom: 1rem;')
    h1.header(style='margin: 0; text-align: center;') Fall, 1985
    p(style='text-align: center; font-family: "CMU Serif", serif; font-size: 14pt; font-weight: 600; margin: 0 2rem;') The Applied Math Club is founded by Alison Burnham, Bruce Sutherland and dan schnabel.
  .textArea.f85
    .article.withbg
      include:markdown-it(html) amc_article_f85_v39i5.md
    .article.withbg
      include:markdown-it(html) amc_article_w86_v40i1.md
    .splide
      .splide__track
        ul.splide__list
          li.splide__slide
            img(src='/static/img/history/amclub/amc01.jpg')
          li.splide__slide
            img(src='/static/img/history/amclub/amc02.png')
          li.splide__slide
            img(src='/static/img/history/amclub/amc03.jpg')
          li.splide__slide
            img(src='/static/img/history/amclub/amc04.jpg')
          li.splide__slide
            img(src='/static/img/history/amclub/amc05.jpg')
          li.splide__slide
            img(src='/static/img/history/amclub/amc06.jpg')
          li.splide__slide
            img(src='/static/img/history/amclub/amc07.jpg')
          li.splide__slide
            img(src='/static/img/history/amclub/amc08.jpg')
          li.splide__slide
            img(src='/static/img/history/amclub/amc09.jpg')
          li.splide__slide
            img(src='/static/img/history/amclub/amc10.jpg')
          li.splide__slide
            img(src='/static/img/history/amclub/amc11.jpg')
          li.splide__slide
            img(src='/static/img/history/amclub/amc12.jpg')
          li.splide__slide
            img(src='/static/img/history/amclub/amc13.jpg')
          li.splide__slide
            img(src='/static/img/history/amclub/cheque.jpg')
    p(style='text-align: left; font-style: italic;') Photos courtesy of Alison, Bruce and dan.
    table
      colgroup
        col
        col
      thead
        tr
          th Term
          th PMC
          th AMC
      tbody
        tr
          td F85
          td (DNE)
          td Alison Burnham
            br
            | Bruce Sutherland
            br
            | dan schnabel
  include ../template/footer.pug
