body {
}
.bg {
  background-size: 100% auto;
  background-image: linear-gradient(#484d70ea, #303136ea), url('/static/img/history/amclub/background_1985.png');
  padding-bottom: 2rem;
  box-shadow: 0 0 20px;
}
h1.header {
  font-size: calc(15vw);
  font-family: "CMU Serif", "Times New Roman", serif !important;
  font-weight: 600;
  color: #000;
}
@media screen and (max-width: 860px) {
  h1.header {
    font-size: 90pt !important;
  }
}
.f85 {
  & h1, & h2, & h3 {
    text-align: center;
    font-family: "CMU Serif", "Times New Roman", serif !important;
  }
  & h1 {
    font-weight: 600;
  }
  & h2 {
    font-style: italic;
  }
  & h1, & h2, & h3, & h4, & h5, & h6, & p {
    color: #fff;
  }
  & p {
    font-family: "CMU Serif", "Times New Roman", serif !important;
    font-size: 12pt;
    font-weight: 400;
    text-align: center;
  }
  .article {
    padding: auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
    &.withbg {
      margin-top: 3rem;
      margin-bottom: 3rem;
    }
    &.withbg:before {
      z-index: -5;
      content: "";
      position: absolute;
      top: -2rem;
      left: -2rem;
      background-image: linear-gradient(#484d70ea, #303136ea);
      width: calc(100% + 4rem);
      height: calc(100% + 4rem);
      border-radius: 1rem;
    }
    &.fullscreen {
      min-height: calc(100vh - 64px);
    }
    max-width: 28rem;
    margin: 1rem auto;
    p, h4 {
      width: 100%;
      font-family: "CMU Serif", "Times New Roman", serif;
      text-indent: 1.5em;
      font-size: 12pt;
      text-align: justify;
    }
    h4 {
      font-weight: 400;
      text-align: right;
      text-indent: 0;
      margin: 0;
    }
    h1 {
      font-size: 24pt;
      text-align: center;
      margin-bottom: 0;
      width: 100%;
    }
    h2 {
      font-size: 16pt;
      font-weight: 400;
      font-style: italic;
      text-align: center;
      width: 100%;
      margin: 0;
    }
    h3 {
      margin: 0.35em;
      font-weight: 400;
    }
    h1 + h2 {
      margin-top: 0;
    }
    h2 + h2 {
      margin-top: 0;
    }
    h1 + p, h2 + p {
      margin-top: 1em;
    }
    p + h4 {
      margin-top: 1em;
    }
    p + p {
      margin-top: 0.3em;
    }
    h5 {
      width: 100%;
      font-size: 12pt;
      margin: 0.5em 0;
      text-indent: 0;
      text-align: left;
    }
  }
}
table {
  margin: 2rem auto !important;
}
.splide {
  margin: auto;
  //background-image: linear-gradient(#666, #222);
  //box-shadow: 0 0 20px;
}
.pswp-gallery {
  display: flex;
  grid-gap: 10px;
  padding: 10px;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
  & a {
    overflow: hidden;
    width: 150px;
    height: 150px;
    & img {
      display: block;
      width: 150px;
      height: 150px;
      object-fit: cover;
      margin-left: 50%;
      margin-top: 50%;
      transform: translate(-50%, -50%);
      white-space: pre;
    }
  }
}
.pswp__dynamic-caption {
  font-family: 'Roboto', 'Arial', sans-serif;
}
.splide img {
  display: block;
  margin: auto;
  max-width: 100%;
  height: 30rem;
  object-fit: contain;
}
