html, body {
  min-height: 100vh;
}
body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  min-width: 750px;
  overflow-y: scroll;
  display:flex;
  flex-direction:column;
}
* {
  font-family: "Roboto Slab", "Times New Roman", sans-serif;
  box-sizing: border-box;
}
h1 {
  color: #161616;
  font-family: "Inter", "Helvetica", sans-serif;
  & strong {
    font-family: "Inter", "Helvetica", sans-serif;
  }
}
h2 {
  font-size: 24pt;
  font-weight: 600;
  color: #161616;
  font-family: "Inter", "Helvetica", sans-serif;
  & em {
    font-family: "Inter", "Helvetica", sans-serif;
    font-weight: 600;
    font-style: oblique;
  }
}
h3 {
  font-family: "Inter", "Helvetica", sans-serif;
  font-size: 14pt;
}
h4 {
  font-family: "Inter", "Helvetica", sans-serif;
}
p {
  margin: 0;
  color: #161616;
  font-family: "Roboto Slab", "Times New Roman", sans-serif;
  //padding: 0;
}
ul {
  margin-bottom: 0;
  margin-top: 0;
}
textarea {
  width: 100%;
  height: 8em;
  resize: none;
}

nav {
  width: 100%;
  min-width: 850px;
  height: 50px;
  position: relative;
  top: 0;
  background-color: #ededed;
  box-shadow: 0 8px rgba(0,0,0,0.4);
  z-index: 7;
}
blockquote {
  background-color: #f9f9f9;
  padding: 1rem;
  border-left: 10px solid #ccc;
  quotes: "\201C""\201D""\2018""\2019";
}
pre {
  background-color: #f9f9f9;
  margin: 1rem;
  padding: 1rem;
}
code, pre {
  font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}
.CodeMirror pre * {
  font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}
summary {
  cursor: pointer;
}
details {
  margin: 0.5rem 0.5rem 0.5rem 1rem;
  & p {
    padding-left: 0 !important;
  }
}


.navStuff {
  display: flex;
  position: relative;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
  padding: 0;
}
.navLogo {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  margin-right: auto;
  padding: 10px 15px 10px 15px;
}
a {
  color: #db2323;
  text-decoration: none;
}
.hidden {
  display: none;
}
.socials {
  display: flex;
  align-items: center;
  width: 20%;
  min-width: 400px;
  max-width: 1250px;
  margin: 0;
  padding: 0;
  justify-content: flex-start;
}
.socials a {
  display: block;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 0 5px 0 5px;
  transition: transform 0.2s ease;
}
.socials a:hover, .socials a:focus-within {
  transform: rotate(-15deg);
}
.header {
  //width: 100%;
  height: 35%;
  background-blend-mode: normal;
  background-image: url('img/desktop_background_01_gradient.png');
  background-size: cover;
  box-shadow: inset 0 -8px rgba(0,0,0,0.4);
}
.headerLogo {
  width: 40%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  padding: 10vh 0;
}
.headerLogo h1 {
  font-size: 48px;
  font-weight: 500;
  margin: 0;
  padding: 0;
}
.navItem {
  padding: 10px 15px 10px 15px;
  font-family: "Inter", "Helvetica", sans-sans-serif;
  font-weight: 500;
  text-decoration: none;
  font-size: 16pt;
  color: #161616;
  transition: color 0.15s ease;
  &:hover, &:focus-within {
    color: #db2323;
  }
}
.header {

}
.switcheroo {
  width: 100%;
  margin: auto;
  margin-top: 0;
  display: block;
  overflow: hidden;
  & .table {
    width: 200%;
    display: table;
    transform: translateX(0);
    transition: all 0.5s ease;
    & .row {
      width: 50%;
      display: table-row;
      & .textArea .subText {
        position: relative;
        margin: 0;
        padding: 0;
        overflow-y: clip; // hidden breaks things
        display: flow-root; // ! very important; starts a new formatting context

        transition: max-height 0.2s ease, opacity 0.2s ease;
        max-height: 0;
        opacity: 0;
        & > .back {
          position: absolute;
          top: 0;
          left: 0;
          transform: translate(-120%, 1rem);
          & svg {
            transition: transform 0.2s ease;
          }
          &:hover svg, &:focus-within svg {
            transform: translateX(-0.5rem);
          }
        }
        & .title {
          margin: 1rem 0;
          height: 20rem;
          position: relative;
          width: 100%;
          padding: 1rem;
          background-position: center;
          background-size: cover;
          box-shadow: inset 0 0 20px #444;
          & h1, & h2, & h3 {
            text-shadow: 0 0 20px #333;
            margin: 0.5rem !important;
          }
          & .back {
            top: 0;
            left: 0;
            background-color: #161616;
            position: absolute;
            width: 6rem;
            height: 100%;
            transform: translateX(-6rem);
          }
        }
        & .imgContainer {
          content: "";
          width: 100%;
          text-align: center;
          background-color: #eee;
          margin: 1em 0;
          & img {
            max-width: 100%;
            max-height: 30rem;
            height: auto;
            padding: 1em;
            margin: auto;
            object-fit: contain;
          }
        }
        & p {
          font-size: 13pt;
          padding-left: 0;
        }
        & summary {
          font-size: 13pt;
        }
        & details {
          margin-left: 0;
        }
        & table {
          margin: 1rem;
        }
      }
    }
  }
}

.textArea {
  width: 60%;
  max-width: 1500px;
  margin: auto;
  margin-top: 0;
  position: relative;
  & table {
    display: table;
    border-collapse: collapse;
    box-sizing: border-box;
    text-indent: initial;
    //border-spacing: 2px;
    border-color: #ccc;
    margin: 1rem 0;
    & thead, & tbody {
      display: table-header-group;
      vertical-align: middle;
      border-color: inherit;
    }
    & tbody {
      display: table-row-group;
      & tr {
        display: table-row;
        vertical-align: inherit;
        border-color: inherit;
      }
    }
    & thead {
      display: table-header-group;
      & th {
        font-weight: bold;
        text-align: center;
        background-color: #dedede;
      }
    }
    & thead tr th, & tbody tr td {
      border: 1px solid #ccc;
      padding: 1rem;
      display: table-cell;
      vertical-align: inherit;
    }
  }
  & .subText table {
    padding: 1rem 0;
  }
}
.eventContainer {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-flow: row-reverse wrap-reverse;
}
.potwContainer {
  @extend .eventContainer;
  flex-flow: row-reverse wrap-reverse;
  //flex-wrap: wrap-reverse;
  //flex-direction: row-reverse;
  justify-content: flex-end;
  padding-bottom: 2em;
}
.potwItem {
  position: relative;
  padding: 0.3em 1em;
  border-radius: 0.5em;
  //min-width: 30%;
  width: 30%;
  min-width: 20em;
  //max-width: 100%;
  margin: 10px;
  flex-grow: 1;
  flex-shrink: 3;
  height: 10em;
  overflow: hidden;
  background-size: cover;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
  background-image: linear-gradient(#eb635eee, #ed925cce);
  transition: background-image 0.2s ease;
  &:hover .potwImg, &:focus-within .potwImg {
    transform: scale(1.07);
  }
  & .potwImg {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: -1;
    transition: transform 0.25s ease;
  }
  & * {
    padding: inherit;
    position: absolute;
    text-decoration: none !important;
    color: #161616;
  }
  & .number {
    left: 0;
    top: 0;
  }
  & .date {
    right: 0;
    top: 0;
  }
  & .title {
    left: 0;
    bottom: 0;
  }
  & .arrow {
    right: 0;
    bottom: 0;
  }
}
.eventItemHoverBuffer {
  width: 30%;
  min-width: 250px;
  //max-width: 650px;
  flex-grow: 1;
  // Prevents CSS jitter
  &:hover, &:focus-within {
    padding: 0 0 -10px 0;
  }
  &:hover .eventItem, &:focus-within .eventItem {
    top: -10px;
  }
}
.eventItem {
  //width: 30%;
  position: relative;
  min-width: 250px;
  //max-width: 650px;
  margin: 10px;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 0 15px 0 rgba(0,0,0,0.5);
  top: 0;
  min-height: 30em;
  transition: top ease 0.2s, margin ease 0.2s;
  & h2 {
    font-family: "Inter", "Helvetica", sans-serif;
    font-weight: 600;
  }
  & p {
    font-size: 15pt;
  }
  display: flex;
  flex-flow: column nowrap;
  & .info {
    padding: 0px 20px 0 20px;
    flex-grow: 1;
  }
  & .dateBox {
    position: inline-block;
    vertical-align: bottom;
    width: 100%;
    background-color: #161616;
    padding: 0;
    margin: 0;
    box-shadow: 0 -8px rgba(0,0,0,0.4);
    & p {
      margin: 0;
      padding: 20px;
      color: #ffffff;
      font-weight: 700;
      font-size: 18pt;
      font-family: "Inter", "Helvetica", sans-serif;
    }
  }
}

.button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
input[type="text"] {
  padding: 1px 2px;
  background-color: #fff;
  border: inset 1px #aaa;
  margin: 0em;
  cursor: text;
  appearance: auto;
  text-align: start;
  display: inline-block;
  text-shadow: none;
  text-indent: 0;
  text-transform: none;
  line-height: normal;
  word-spacing: normal;
  letter-spacing: normal;
  color: #000;
  writing-mode: horizontal-tb !important;
  border-radius: 2px;
}

.button {
  position: relative;
  display: inline-block; // Prevents collapsing margins
  font-family: "Inter", "Helvetica", sans-serif;
  font-size: 18pt;
  font-weight: 600;
  background-color: #de4b7c;
  border-radius: 12px;
  padding: 10px 20px;
  margin: 1em 0;
  color: inherit;
  transition: filter 0.2s ease;
  &:hover, &:focus-within {
    filter: brightness(0.8);
  }
}
.footer {
  background-color: #161616;
  font-style: italic;
  width: 100%;
  padding: 0;
  margin: 0;
  transition: all 0.2s ease;
  & p {
    font-size: 12pt;
    font-weight: 400;
    color: #bbb;
    margin: auto;
    padding: 0;
  }
}
.aboutContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  & img {
    margin: 1.5em;
    object-fit: cover;
    width: min(250px,30%);
    flex-grow: 1;
    height: 25em;
    border-radius: 2em;
    box-shadow: 0 0 16px #888;
  }
}
.faq {
  flex-grow: 1;
  width: 60%;
  margin: 1.5em;
  & h1 {
    font-size: 32pt;
    color: #e90a54;
  }
  & p {
    font-size: 13pt;
  }
}
.eventsTermsContainer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  padding-top: 1em;
}
.eventsTerm {
  //font-family: "Inter", "Helvetica", sans-sans-serif;
  font-size: 14pt;
  font-weight: 600;
  margin: 1em;
  &#archive {
    margin-left: auto;
  }
}
a.eventsTerm:posts, a.eventsTerm:focus-within {
  filter: brightness(1.5);
  text-decoration: underline;
}
#pastEvents {
  font-size: 18pt;
  background-color: #ccc;
  color: #161616;
}
#subscribe {
  font-size: 24pt;
  padding-left: 3em;
  padding-right: 3em;
  background-color: #de4b7c;
  &:hover, &:focus-within {
    filter: brightness(1.2);
  }
}
#constitution, form[action="/update_const"] .EasyMDEContainer {
  padding: 2rem 0;
  & h1 {
    color: #e90a54;
  }
  & h2 {
    font-weight: 600;
    font-size: 20pt;
    color: #e90a54;
  }
  & h3 {
    color: #e90a54;
  }
  & p {
    font-size: 13pt;
    padding-left: 1em;
  }
  & summary {
    font-size: 13pt;
  }
  & table {
    margin: 1rem;
  }
}
.EasyMDEContainer {
  padding: 0 !important;
}
.longEventContainer, .longPotwContainer {
  position: relative;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: stretch;
  overflow: hidden;
  & .description {
    display: block;
    position: relative;
    max-height: auto;
    margin-bottom: 0;
    transition: max-height 0.2s ease, margin-bottom 0.2s ease;
    border-left: 3px solid #e90a54;
    background-color: #f8f8f8;
    & .descBody {
      padding-left: 2em;
      padding-right: 2em;
      padding-bottom: 2em;
      & img {
        width: 100%;
      }
    }
    //margin-left: 1em;
    & .descImgHolder {
      content: "";
      display: block;
      position: relative;
      background-size: cover;
      background-position: center;
      padding-left: 0;
      padding-right: 0;
      box-shadow: inset 0 0 20px #666;
      height: 8em;
      width: 100%;
    }
  }
}
.longEventItem, .longPotwItem {
  position: relative;
  width: 100%;
  margin: 1em 0;
  display:block;
  color: inherit;
  //border-radius: 1em;
  background-color: #eee;
  transition: background-color 0.2s ease, border-left 0.1s linear;
  padding: 0.5em 1em;
  &.dead {
    border-left: 3px solid #444;
    &:hover, &:focus-within {
      background-color: #ddd;
      border-left: 8px solid #444;
    }
    & h2 {
      color: #444;
    }
  }
  &.alive {
    border-left: 3px solid #e90a54;
    &:hover, &:focus-within {
      background-color: #ddd;
      border-left: 8px solid #e90a54;
    }
    & h2 {
      color: #e90a54;
    }
  }
  & h2 {
    font-weight: 600;
    font-size: 28pt;
    margin: 0.25rem 0;
  }
  & .description h2 {
    color: #000;
  }
  & h3 {
    margin: 0.25rem 0;
    color: #000;
    font-size: 16pt;
  }
  & .description h3 {
    color: #000;
  }
  & .description p {
    padding: 1em 0 0 0;
    font-size: 13pt;
    margin: 0;
  }
  & .description h1, & .description h2, & .description h3 {
    padding: 1em 0 0 0;
    margin: 0;
  }
}

.dashSwapper {
  width: 100%;
  margin: auto;
  display: block;
  & .dashSwapItem {
    position: relative;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transition: max-height 0.25s ease, opacity 0.25s ease;
    &#frontmatter-body {
      max-height: 99999px;
      opacity: 1;
      transition: max-height 0.25s ease 0.25s, opacity 0.25s ease 0.25s;
    }
    & details {
      border: 1px solid #aaa;
      border-radius: 4px;
      padding: 0.5rem 0.5rem 0;
      margin: 1rem;
    }
    & summary {
      font-weight: bold;
      margin: -0.5rem -0.5rem 0;
      padding: 0.5rem;
    }
    & details[open] {
      padding: 0.5rem;
    }
    & details[open] summary {
      border-bottom: 1px solid #aaa;
      margin-bottom: 0.5rem;
    }
    & table tbody tr {
      transition: background-color 0.2s ease;
    }
  }
}
.dashMenu {
  position: absolute;
  transform: translate(-120%, 0);
  width: auto;
  display: flex;
  flex-flow: column nowrap;
  margin: 3em 0 0 0;
  background-color: #ededed;
  box-shadow: -6px 0 0 #aaa;
  overflow: hidden;
  & .item {
    position: relative;
    font-family: 'Roboto', 'Arial', sans-serif;
    font-weight: 600;
    font-size: 16pt;
    padding: 1rem;
    flex-shrink: 1;
    background-color: transparent;
    transition: color 0.3s ease;
    overflow: hidden;
    z-index: 25;
    &::before, & .active {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 150%;
      height: 100%;
      background-color: #edb2b2;
      transform: skew(15deg, 0) translateX(-120%);
      transition: transform 0.3s ease-out;
      z-index: -50;
    }
    & .active {
      z-index: -25;
      background-color: #db2323;
    }
    &:hover::before {
      transform: skew(15deg, 0) translateX(-20%);
      z-index: -50;
    }
    &#logout {
      background-color: #ccc;
      color: #161616;
    }
  }
}

@media (max-width: 1100px) {
  .dashMenu {
    position: relative;
    transform: translate(0);
    flex-flow: row wrap;
    & .item {
      font-size: 12pt;
      &#logout {
        margin-left: auto;
      }
    }
  }
}
@media (max-width: 936px) {
  .dashMenu .item#logout {
    margin-left: 0;
  }
}

.dashResult {
  position: relative;
  overflow: hidden;
  max-height: 5rem;
  height: auto;
  animation: notifFade 1s ease-out 5.5s forwards;
  padding-bottom: 6px;
  margin-top: 1rem;
  & p {
    padding: 1em;
    font-weight: 600;
  }
  &::after {
    position: absolute;
    content: "";
    background-color: #444;
    bottom: 0;
    width: 0%;
    height: 6px;
    animation: barAnim 5s linear 0.5s forwards;
    z-index: 100;
  }
}
@keyframes barAnim {
  to {
    width: 100%;
  }
}
@keyframes notifFade {
  to {
    margin-top: 0;
    max-height: 0;
    padding-bottom: 0;
  }
}
#guide td:first-child {
  font-weight: bold;
  background-color: #dedede;
}
.good {
  background-color: #90b5e8;
}
.bad {
  background-color: #e89090;
}
tr.good {
  background-color: #cde0fa;
}

#pmath {
  // purple
  background-size: cover;
  background-image: linear-gradient(#ba50ebff, #ff70a4ff);
  background-position: center;
  & .dateBox p {
    color: #e6c1f7;
  }
}
#co {
  // green
  background-size: cover;
  background-image: linear-gradient(#34eb71ff, #5bd4beff);
  background-position: center;
  & .dateBox p {
    color: #a3e3b9;
  }
}
#amath {
  // yellow
  background-size: cover;
  background-image: linear-gradient(#fc6e5bff, #f2be4bff);
  background-position: center;
  & .dateBox p {
    color: #f5deab;
  }
}
#sasms {
  // red
  background-size: cover;
  background-image: linear-gradient(#eb635eff, #ed925cff);
  background-position: center;
  & .dateBox p {
    color: #f5aeab;
  }
}
#over9k {
  // blue
  background-size: cover;
  background-image: linear-gradient(#506ef2ff, #ba77edff);
  background-position: center;
  & .dateBox p {
    color: #a8b2f0;
  }
}
#other {
  background-size: cover;
  background-image: linear-gradient(#222, #555);
  background-position: center;
  & .dateBox p {
    color: #ccc;
  }
  & .info * {
    color: #eee;
  }
}
