html {
  scroll-behavior: smooth;
}
html, body {
  min-height: 100vh;
}
body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  min-width: min(860px, 100%);
  overflow-y: scroll;
  display:flex;
  flex-direction:column;
}
* {
  font-family: 'Roboto', 'Arial', sans-serif;
  box-sizing: border-box;
  hyphens: auto;
  word-wrap: break-word;
}
h1 {
  font-size: 24pt;
  color: #161616;
  font-family: "Inter", "Helvetica", sans-serif;
  & strong {
    font-family: "Inter", "Helvetica", sans-serif;
  }
}
h2 {
  font-size: 20pt;
  font-weight: 600;
  color: #161616;
  font-family: "Inter", "Helvetica", sans-serif;
  & em {
    font-family: "Inter", "Helvetica", sans-serif;
    font-weight: 600;
    font-style: oblique;
  }
}
h3 {
  font-family: "Inter", "Helvetica", sans-serif;
  font-size: 14pt;
}
h4 {
  font-family: "Inter", "Helvetica", sans-serif;
}
p {
  margin: 0;
  color: #161616;
  font-family: 'Roboto', 'Arial', sans-serif;
  //padding: 0;
}
li {
  font-size: 13pt;
}
ul {
  margin-bottom: 0;
  margin-top: 0;
}
textarea {
  width: 100%;
  height: 8em;
  resize: none;
}

nav {
  width: 100%;
  min-width: min(860px, 100%);
  height: 50px;
  position: relative;
  top: 0;
  //background-color: #ededed;
  //box-shadow: 0 8px rgba(0,0,0,0.4);
  z-index: 7;
  margin: 0.5rem 0;
  vertical-align: middle;
}

#menu {
  position: fixed;
  right: -16rem;
  top: 0;
  height: 100%;
  width: 16rem;
  background-color: #eaa239;
  transition: right 0.4s 0s ease;
  & ul {
    list-style: none;
    padding: 2rem 0;
    & li {
      //padding: 1rem 4rem;
      font-size: 16pt !important;
      font-weight: 600;
      & a {
        color: #161616;
        display: block;
        padding: 1rem 4rem;
      }
    }
  }
}
.menuBar {
  width: 32px;
  height: 4px;
  background-color: #161616;
  margin: 5px 0;
}
#bg {
  opacity: 0;
  background-color: #66666666;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  pointer-events: none;
  transition: all 0.3s ease;
}
.hamb {
  cursor: pointer;
  padding: 0 20px;
  display: none;
  &:focus ~ #bg {
    opacity: 1;
    transition: all 0.3s ease;
  }
  &:focus ~ #menu {
    right: 0;
    transition-delay: 0;
  }
}
#hamb-check {
  display: none;
  &:checked ~ #bg {
    opacity: 1;
    pointer-events: auto;
    transition: all 0.3s ease;
  }
  &:checked ~ #menu {
    right: 0;
    transition-delay: 0;
  }
}

.hamb-line {
  background-color: #161616;
  display: block;
  height: 2px;
  position: relative;
  width: 24px;
  &::before, &::after {
    background-color: #161616;
    content: '';
    display: block;
    position: absolute;
    transition: all 0.2s ease-out;
    width: 100%;
  }
  &::before {
    top: 5px;
  }
}

.navMenu {
  display: none;
  &:checked ~ nav {
    max-height: 100%;
  }
  &:checked ~ .hamb .hamb-line {
    background: transparent;
  }
  &:checked ~ .hamb .hamb-line::before {
    transform: rotate(-45deg);
    top: 0;
  }
  &:checked ~ .hamb .hamb-line::after {
    transform: rotate(45deg);
    top: 0;
  }
}

blockquote {
  background-color: #f9f9f9;
  padding: 1rem;
  border-left: 10px solid #ccc;
  quotes: "\201C""\201D""\2018""\2019";
}
pre {
  background-color: #f9f9f9;
  margin: 1rem;
  padding: 1rem;
}
code, pre {
  font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}
.CodeMirror pre * {
  font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}
summary {
  cursor: pointer;
}
details {
  margin: 0.5rem 0.5rem 0.5rem 1rem;
  & p {
    padding-left: 0 !important;
  }
}


.navStuff {
  display: flex;
  position: relative;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
  padding: 0;
}
.navLogo {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  margin-right: auto;
  padding: 10px 15px 10px 15px;
}
a {
  color: #db2323;
  text-decoration: none;
}
.hidden {
  display: none;
}
.socials {
  display: flex;
  align-items: center;
  //width: 20%;
  //min-width: 400px;
  max-width: 1250px;
  margin: 0;
  padding: 0 0 0 1rem;
  justify-content: flex-start;
  height: 2rem;
}
.socials a {
  display: block;
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0 0.35rem;
  transition: transform 0.2s ease;
}
.socials a:hover, .socials a:focus-within {
  transform: rotate(-15deg);
}
.header {
  //width: 100%;
  //height: 25rem;
  //background-blend-mode: normal;
  //background-image: url('img/desktop_background_01_gradient.png');
  //background-size: cover;
  //box-shadow: inset 0 -8px rgba(0,0,0,0.4), 0 0 24px rgba(0,0,0,0.4);
  //box-shadow: 0 0 14px #777;
  //background-color: #eaa23988;
  & h1 {
    font-size: 48pt;
  }
}
.headerAlt {
  margin: auto;
  max-width: min(80rem,100%);
  width: 100%;
  //background-blend-mode: normal;
  //background-size: cover;
  background-color: #eaa239;
  border-radius: 1rem;
  margin: auto;
}
.headerLogo {
  width: 40%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  padding: 5rem 0;
}
.headerLogo h1 {
  font-size: 32pt;
  font-weight: 500;
  margin: 0;
  padding: 0;
}
.navItem {
  padding: 10px 15px 10px 15px;
  font-family: "Inter", "Helvetica", sans-sans-serif;
  font-weight: 500;
  text-decoration: none;
  font-size: 13pt;
  color: #161616;
  transition: color 0.15s ease;
  &:hover, &:focus-within {
    color: #db2323;
  }
}

@media screen and (max-width: 860px) {
  h1 {
    font-size: 20pt !important;
  }
  h2 {
    font-size: 16pt !important;
  }
  h3 {
    font-size: 12pt !important;
  }
  h4 {
    font-size: 10pt !important;
  }
  p, td, th {
    font-size: 10pt !important;
  }
  .eventItem p {
    font-size: 12pt !important;
  }
  a.navItem {
    display: none;
  }
  .hamb {
    display: inline-block;
  }
  .headerLogo h1 {
    font-size: 20pt;
  }
  .header h1 {
    font-size: 24pt;
  }
  .headerLogo img {
    //display: none;
    height: 10em !important;
  }
  .button {
    font-size: 20pt !important;
  }
  .subText li {
    font-size: 13pt;
  }
  #constitution, #courses, form[action="/update_courses"] .EasyMDEContainer, form[action="/update_const"] .EasyMDEContainer {
    & li, & ul {
      font-size: 10pt !important;
    }
  }
  .socials {
    height: 1.5rem;
    & a {
      margin: 0 0.25rem;
    }
  }
}
@media screen and (max-width: 640px) {
  .headerLogo {
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 80% !important;
    padding: 2rem 0;
  }
  .headerLogo img {
    //display: none;
    height: 8em !important;
  }
  .navLogo .navItem {
    font-size: 16pt !important;
  }
}

#list {
  max-height: 999999px;
  transition: max-height 0.2s ease, opacity 0.2s ease;
}

.courseDesc {
  width: 100%;
  margin: auto;
  vertical-align: top;
  position: relative;
  margin: 0;
  padding: 0;
  overflow-y: clip; // hidden breaks things
  display: flow-root; // ! very important; starts a new formatting context

  transition: max-height 0.2s ease, opacity 0.2s ease;
  max-height: 0;
  opacity: 0;
}

.switcheroo {
  width: 100%;
  margin: auto;
  margin-top: 0;
  display: block;
  overflow: hidden;
  & .table {
    width: 200%;
    display: table;
    transform: translateX(0);
    transition: all 0.5s ease;
    table-layout: fixed;
    & .row {
      width: 50%;
      display: table-row;
      & .textArea .subText {
        vertical-align: top;
        position: relative;
        margin: 0;
        padding: 0;
        overflow-y: clip; // hidden breaks things
        display: flow-root; // ! very important; starts a new formatting context

        transition: max-height 0.2s ease, opacity 0.2s ease;
        max-height: 0;
        opacity: 0;
        & > .back {
          position: relative;
          display: inline-block;
          padding-bottom: 1rem;
          //transform: translate(-3.5rem, 1rem);
          & svg {
            //transition: transform 0.2s ease;
          }
          &:hover svg, &:focus-within svg {
            //transform: translateX(-0.5rem);
          }
        }
        & .title {
          margin: 1rem 0;
          height: 20rem;
          position: relative;
          width: 100%;
          padding: 1rem;
          background-position: center;
          background-size: cover;
          border-radius: 0 1rem 1rem 0;
          box-shadow: 0 0 10px #444;
          & h1, & h2, & h3 {
            text-shadow: 0 0 20px #333;
            margin: 0.5rem !important;
          }
          & .back {
            top: 0;
            left: 0;
            background-color: #161616;
            position: absolute;
            width: 6rem;
            height: 100%;
            transform: translateX(-6rem);
            border-radius: 1rem 0 0 1rem;

            box-shadow: 0 0 10px #444;
          }
        }
        & .imgContainer {
          content: "";
          width: 100%;
          text-align: center;
          background-color: #eee;
          margin: 1em 0;
          border-radius: 0.25rem;
          & img {
            max-width: 100%;
            max-height: 30rem;
            height: auto;
            padding: 1em;
            margin: auto;
            object-fit: contain;
          }
        }

        & p {
          font-size: 13pt;
          padding-left: 0;
	  margin-bottom: 1rem;
        }
        & summary {
          font-size: 13pt;
        }
        & details {
          margin-left: 0;
        }
        & table {
          margin: 1rem;
        }
        & h1, & h2, & h3 {
          margin: 0 0 1rem 0;
        }
        & li {
          margin-bottom: 0.25rem;
        }
        & ul, & ol {
          margin-bottom: 1rem;
        }
      }
    }
  }
}

.textArea {
  //width: 60%;
  padding: 0 2rem;
  //max-width: 65rem;
  width: min(65rem,100%);
  margin: auto;
  margin-top: 0;
  position: relative;
  & table {
    display: table;
    border-collapse: collapse;
    box-sizing: border-box;
    text-indent: initial;
    //border-spacing: 2px;
    border-color: #ccc;
    margin: 1rem 0;
    & thead, & tbody {
      display: table-header-group;
      vertical-align: middle;
      border-color: inherit;
    }
    & tbody {
      display: table-row-group;
      & tr {
        display: table-row;
        vertical-align: inherit;
        border-color: inherit;
      }
    }
    & thead {
      display: table-header-group;
      & th {
        font-weight: bold;
        text-align: center;
        background-color: #dedede;
      }
    }
    & thead tr th, & tbody tr td {
      border: 1px solid #ccc;
      padding: 1rem;
      display: table-cell;
      vertical-align: inherit;
    }
  }
  & .subText table {
    padding: 1rem 0;
  }
}

.eventContainer {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-flow: row-reverse wrap-reverse;
}
.potwContainer {
  @extend .eventContainer;
  flex-flow: row-reverse wrap-reverse;
  //flex-wrap: wrap-reverse;
  //flex-direction: row-reverse;
  justify-content: flex-end;
  padding-bottom: 2em;
}
.potwItem {
  position: relative;
  padding: 0.3em 1em;
  border-radius: 0.5rem;
  //min-width: 30%;
  width: 30%;
  min-width: 20em;
  //max-width: 100%;
  margin: 0.5rem;
  flex-grow: 1;
  flex-shrink: 3;
  //height: 10em;
  overflow: hidden;
  background-size: cover;
  //box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
  background-image: linear-gradient(#eb635eee, #ed925cce);
  transition: background-image 0.2s ease;

  &:hover .potwImg, &:focus-within .potwImg {
    transform: scale(1.07);
  }
  & .potwImg {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: -1;
    transition: transform 0.25s ease;
  }
  & > * {
    padding: inherit;
    position: absolute;
    text-decoration: none !important;
    color: #161616;
  }
  & .number {
    left: 0;
    top: 0;
    margin-top: 1rem;
  }
  & .date {
    right: 0;
    top: 0;
    margin-top: 1rem;
  }
  & .title {
    position: relative;
    left: 0;
    bottom: 0;
    padding-top: 7rem;
    padding-left: 0;
    padding-right: 2rem;
    font-size: 16pt;
  }
  & .arrow {
    right: 0;
    bottom: 0;
  }
}
.eventItemHoverBuffer {
  //width: 30%;
  //min-width: 25rem;
  //max-width: 650px;
  flex-grow: 1;
  // Prevents CSS jitter
  &:hover, &:focus-within {
    padding: 0 0 -10px 0;
  }
  &:hover .eventItem, &:focus-within .eventItem {
    top: -10px;
  }
}
.eventItem {
  //width: 30%;
  position: relative;
  background-color: #f2f2f2;
  //min-width: 25rem;
  padding: 1rem;
  //max-width: 650px;
  margin: 10px;
  border-radius: 0.5rem;
  overflow: hidden;
  //box-shadow: 0 0 15px 0 rgba(0,0,0,0.5);
  top: 0;
  //min-height: 30em;
  transition: top ease 0.2s, margin ease 0.2s;
  background-size: cover;
  background-position: center;
  & h2 {
    font-family: "Inter", "Helvetica", sans-serif;
    font-weight: 600;
  }
  & p {
    font-size: 15pt;
  }
  display: flex;
  flex-flow: column nowrap;
}

.button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
#edit_results_box-type {
  & input:not([type='text']), & button, & select {
    display: block;
    margin: auto;
  }
}

input[type="text"] {
  padding: 1px 2px;
  background-color: #fff;
  border: inset 1px #aaa;
  margin: 0em;
  cursor: text;
  appearance: auto;
  text-align: start;
  display: inline-block;
  text-shadow: none;
  text-indent: 0;
  text-transform: none;
  line-height: normal;
  word-spacing: normal;
  letter-spacing: normal;
  color: #000;
  writing-mode: horizontal-tb !important;
  border-radius: 2px;
}

.button {
  position: relative;
  display: inline-block; // Prevents collapsing margins
  font-family: "Inter", "Helvetica", sans-serif;
  font-size: 18pt;
  font-weight: 600;
  background-color: #db2323;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  margin: 1em 0;
  color: inherit;
  transition: filter 0.2s ease;
  &:hover, &:focus-within {
    filter: brightness(0.8);
  }
  &#back {
    &:hover, &:focus-within {
      filter: brightness(1.1);
    }
  }
}
.footer {
  background-color: #161616;
  font-style: italic;
  width: 100%;
  padding: 0;
  margin: 0;
  transition: all 0.2s ease;
  & p {
    font-size: 12pt;
    font-weight: 400;
    color: #bbb;
    margin: auto;
    padding: 0;
  }
}
.aboutContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  & img {
    margin: 1.5em;
    object-fit: cover;
    width: min(250px,30%);
    flex-grow: 1;
    height: 20em;
    border-radius: 0.5rem;
  }
}
.faq {
  flex-grow: 1;
  width: 60%;
  margin: 1.5em;
  & h1 {
    font-size: 24pt;
    color: #db2323;
  }
  & p {
    font-size: 13pt;
  }
}
.eventsTermsContainer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  padding-top: 1em;
}
.eventsTerm {
  //font-family: "Inter", "Helvetica", sans-sans-serif;
  font-size: 14pt;
  font-weight: 600;
  margin: 1em;
  &#archive {
    margin-left: auto;
  }
}
a.eventsTerm:posts, a.eventsTerm:focus-within {
  filter: brightness(1.5);
  text-decoration: underline;
}
#pastEvents {
  font-size: 18pt;
  background-color: #ccc;
  color: #161616;
}
#subscribe {
  font-size: 24pt;
  padding-left: 2em;
  padding-right: 2em;
  background-color: #db2323;
  &:hover, &:focus-within {
    filter: brightness(1.2);
  }
}
#constitution, #courses, form[action="/update_courses"] .EasyMDEContainer, form[action="/update_const"] .EasyMDEContainer {
  padding: 2rem 2rem;
  & li {
    margin-bottom: 0.25rem;
  }
  & ul, & ol {
    margin-bottom: 1rem;
  }
  & h1 {
    color: #db2323;
    margin: 0 0 1rem 0;
  }
  & h2 {
    font-weight: 600;
    font-size: 20pt;
    color: #db2323;
  }
  & h3 {
    color: #db2323;
  }
  & p {
    font-size: 13pt;
    padding-left: 1rem;
    margin-bottom: 1rem;
  }
  & li {
    font-size: 13pt;
  }
  & summary {
    font-size: 13pt;
  }
  & table {
    margin: 1rem;
  }
}
#courses, form[action="/update_courses"] .EasyMDEContainer {
  & h1, & h2 {
    padding: 0.5rem;
    background-color: #db2323;
    color: #fff;
  }
}
.coursesNav {
  margin: 0 auto 2rem auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  & .item {
    display: block;
    padding: 1rem;
    white-space: nowrap;
    text-align: center;
    & a {
      font-family: 'Roboto', 'Arial', sans-serif;
      font-size: 14pt;
      font-weight: 500;
      &:hover, &:focus-within {
        text-decoration: underline;
      }
    }
  }
}

.EasyMDEContainer {
  padding: 0 !important;
}
.longEventContainer, .longPotwContainer {
  position: relative;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: stretch;
  overflow: hidden;
  & .description {
    display: block;
    position: relative;
    max-height: auto;
    margin-bottom: 0;
    transition: max-height 0.2s ease, margin-bottom 0.2s ease;
    border-left: 3px solid #db2323;
    background-color: #f8f8f8;
    & .descBody {
      padding-left: 2em;
      padding-right: 2em;
      padding-bottom: 2em;
      & img {
        width: 100%;
      }
    }
    //margin-left: 1em;
    & .descImgHolder {
      content: "";
      display: block;
      position: relative;
      background-size: cover;
      background-position: center;
      padding-left: 0;
      padding-right: 0;
      box-shadow: inset 0 0 20px #666;
      height: 8em;
      width: 100%;
    }
  }
}
.longEventItem, .longPotwItem {
  position: relative;
  width: 100%;
  display:block;
  color: inherit;
  background-color: #f8f8f8;
  transition: background-color 0.2s ease, border-left 0.2s ease;
  padding: 0.5em 1em;
  overflow: hidden;
  &.dead {
    border-left: 6px solid #444;
    &:hover, &:focus-within {
      background-color: #ddd;
      border-left: 14px solid #444;
    }
    & h2 {
      color: #444;
    }
  }
  &.alive {
    border-left: 6px solid #db2323;
    &:hover, &:focus-within {
      background-color: #ddd;
      border-left: 14px solid #db2323;
    }
    & h2 {
      color: #db2323;
    }
  }
  & h2 {
    font-weight: 600;
    font-size: 20pt;
    margin: 0.25rem 0;
  }
  & .description h2 {
    color: #000;
  }
  & h3 {
    margin: 0.25rem 0;
    color: #000;
    font-size: 14pt;
  }
  & .description h3 {
    color: #000;
  }
  & .description p {
    padding: 1em 0 0 0;
    font-size: 13pt;
    margin: 0;
  }
  & .description h1, & .description h2, & .description h3 {
    padding: 1em 0 0 0;
    margin: 0;
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 6rem;
  height: 3rem;
  & input {
    opacity: 0;
    width: 0;
    height: 0;
  }
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: all 0.3s ease;
  border-radius: 1.5rem;
  &:before {
    position: absolute;
    content: "";
    height: 2.25rem;
    width: 2.25rem;
    left: 0.375rem;
    bottom: 0.375rem;
    background-color: white;
    transition: all 0.3s ease;
    border-radius: 50%;
  }
}
input:checked + .slider {
  background-color: #2196f3;
}
input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}
input:checked + .slider:before {
  transform: translateX(3rem);
}

.dashSwapper {
  width: 100%;
  margin: auto;
  display: block;
  & .dashSwapItem {
    position: relative;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transition: max-height 0.25s ease, opacity 0.25s ease;
    &#frontmatter-body {
      max-height: 99999px;
      opacity: 1;
      transition: max-height 0.25s ease 0.25s, opacity 0.25s ease 0.25s;
    }
    & table {
      table-layout: fixed;
    }
    & details {
      border: 1px solid #aaa;
      border-radius: 4px;
      padding: 0.5rem 0.5rem 0;
      margin: 1rem;
    }
    & summary {
      font-weight: bold;
      margin: -0.5rem -0.5rem 0;
      padding: 0.5rem;
    }
    & details[open] {
      padding: 0.5rem;
    }
    & details[open] summary {
      border-bottom: 1px solid #aaa;
      margin-bottom: 0.5rem;
    }
    & table tbody tr {
      transition: background-color 0.2s ease;
    }
  }
}

.dashMenuContainer {
  border-radius: 6px;
  overflow: hidden;
  margin: 0;
  padding-left: 6px;
  position: absolute;
  transform: translate(-120%, 0); margin: 3em 0 0 0;
}
.dashMenu {
  width: auto;
  display: flex;
  flex-flow: column nowrap;
  background-color: #ededed;
  box-shadow: -6px 0 0 #444;
  overflow: hidden;
  & .item {
    position: relative;
    font-family: 'Roboto', 'Arial', sans-serif;
    font-weight: 600;
    font-size: 16pt;
    padding: 1rem;
    flex-shrink: 1;
    background-color: transparent;
    transition: color 0.3s ease;
    overflow: hidden;
    z-index: 25;
    &::before, & .active {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 150%;
      height: 100%;
      background-color: #edb2b2;
      transform: skew(15deg, 0) translateX(-120%);
      transition: transform 0.3s ease-out;
      z-index: -50;
    }
    & .active {
      z-index: -25;
      background-color: #db2323;
    }
    &:hover::before {
      transform: skew(15deg, 0) translateX(-20%);
      z-index: -50;
    }
    &#logout {
      background-color: #ccc;
      color: #333;
    }
  }
}

@viewport {
  width: device-width;
  zoom: 1.0;
}
@media screen and (max-width: 1100px) {
  .dashMenuContainer {
    position: relative;
    transform: translate(0);
    flex-flow: row wrap;
  }
}
@media screen and (max-width: 1300px) {
  .textArea {
    margin-left: auto !important;
    margin-right: auto !important;
  }
}
@media screen and (max-width: 936px) {
  .dashMenu .item#logout {
    margin-left: 0;
  }
}

.dashResult {
  position: relative;
  overflow: hidden;
  max-height: 5rem;
  height: auto;
  animation: notifFade 1s ease-out 5.5s forwards;
  padding-bottom: 6px;
  margin-top: 1rem;
  & p {
    padding: 1em;
    font-weight: 600;
  }
  &::after {
    position: absolute;
    content: "";
    background-color: #444;
    bottom: 0;
    width: 0%;
    height: 6px;
    animation: barAnim 5s linear 0.5s forwards;
    z-index: 100;
  }
}
@keyframes barAnim {
  to {
    width: 100%;
  }
}
@keyframes notifFade {
  to {
    margin-top: 0;
    max-height: 0;
    padding-bottom: 0;
  }
}
#guide td:first-child {
  font-weight: bold;
  background-color: #dedede;
}
.good {
  background-color: #90b5e8;
}
.bad {
  background-color: #e89090;
}
tr.good {
  background-color: #cde0fa;
}
