doctype html
head
  include ../template/head.pug
  title Pure Math Club
  meta(name='decription', content="The official website of the University of Waterloo's Pure Math, Applied Math, Combinatorics & Optimization Club, under the Mathematics Society.")
body
  include ../template/header.pug
  .textArea
    p(style='position: relative; font-size: 48pt; text-align: center; padding: 2em 0 2em 0; margin: auto;') \(\text{this}\notin\{\text{pages}\}\)
      br
      span(style='font-size: 24pt;') \((#{error})\)
  include ../template/footer.pug
