doctype html
head
  include ../template/head.pug
  title About - Pure Math Club
  meta(name='decription', content="The official website of the University of Waterloo's Pure Math, Applied Math, Combinatorics & Optimization Club, under the Mathematics Society.")
body
  include ../template/header.pug
  .header
    .textArea
      h1(style='margin: 0; padding: 0.8em 0 0.8em 0;') About PMC
  .textArea
    .aboutContainer
      img(src='/static/img/about/sasms.png')
      .faq
        h1 What events does the PMC organize?
        p We organize various academic and social events. On the academic side, 
          | we organize talks by professors and students. Have some interesting 
          | math to share? Sign up for a slot at our termly SASMS (Short 
          | Attention Span Math Seminars). We also organize math contests in 
          | most terms!
          br
          br
          | Contrary to the stereotype of mathematicians being too shy to 
          | socialize, you can usually find some PMC members hanging out, 
          | working or getting food together on campus.
    .aboutContainer
      .faq
        h1 You guys sound like my kind of people! How do I get involved?
        p To join, just show up to the club office and pay the $2 membership 
          | fee! We hold a termly disorganizational meeting where we elect 
          | execs and assign termly responsibilities. Show up and volunteer 
          | (or sometimes get voluntold) for positions. You can run for 
          | President, VP Finance, VP (PMATH|AMATH|CO), VP Propaganda, VP Pop, 
          | or Secretary.
      img(src='/static/img/about/door.png')
    .aboutContainer
      img(src='/static/img/about/board.png')
      .faq
        h1 You guys have a sick blackboard in your office, can I work in there?
        p We often work on our assignments together in our office. It's a nice 
          | space with a blackboard, whiteboard, reference books and a 
          | computer for music and WolframAlpha! Be warned though, it's hard 
          | to be productive when your friends are around!
    .aboutContainer
      .faq
        h1 Why the focus on PM in your short names?
        p The club actually started out as the Pure Math Club, before later expanding to include C&amp;O, and even later absorbing the defunct Applied Math Club to include AM. Through all the changes, people have just kept calling it the Pure Math Club for short. However, all forms including AMC, C&amp;OC, and AMC&amp;OPM Club are all valid according to our constitution!
      img(src='/static/img/about/books.png')
  include ../template/footer.pug
