script(src='https://polyfill.io/v3/polyfill.min.js?features=es6')
script#MathJax-script(async, src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-MML-AM_CHTML')
nav
  div(style='width: 100%; height: 100%; max-width: 2000px; margin: 0 auto;')
    .navStuff(style='width: 100%; margin: 0; padding: 0; height: 100%;')
      a.navLogo(href='/')
        img(src='/img/pmamco_simple_free_nobg.png', style='height: 2em; width: 2em; position: relative;')
        .navItem(style='font-weight: 700; display: block; font-size: 20pt;') Pure Math Club
      a.navItem(href='/') Home
      a.navItem(href='/about') About
      a.navItem(href='/events') Events
      if isPOTW
        a.navItem(href='/potw') POTW
      //-a.navItem(href='/courses') Courses
      a.navItem(href='/const') Constitution
