doctype html
include ../template/head.pug
body
  include ../template/header.pug
  .header(style='filter: hue-rotate(290deg); background-position: bottom;')
    .textArea
      h1(style='margin: 0; padding: 0.8em 0 0.8em 0; font-size: 48pt;') PMC Constitution
  .textArea#constitution
    | !{constitution}
  include ../template/footer.pug
