doctype html
include ../template/head.pug
body
  include ../template/header.pug
  .header
    .textArea
      h1(style='margin: 0; padding: 0.8em 0 0.4em 0;') PMC Constitution
  .textArea#constitution
    | !{constitution}
  include ../template/footer.pug
